h2{
    text-align: center;
}
form{
  width: 50%;
  margin: 0 auto; 
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 2px 3px 4px rgb(80,80,80);
}

input{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #0a0f14;
  font-size: 17px;
}

form > div{
  display: flex;
  justify-content: space-around;
}


form > div > button{
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

select {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

option {
  background-color: #fff;
  color: #333;
  padding: 10px;
  font-size: 16px;
}

button[type="submit"]{
  background-color: #45a049;
}

button[type="button"]{
  background-color: #e53935;
}